* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App button {
  padding: 1rem 2rem;
  background-color: #61dafb;
  color: white;
  border: none;
  font-size: 1rem;
}
.room {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.room video {
  width: 24rem;
}